<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pl"/>
    <meta name="Description" content="test"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Produkcja Demarko</title>    
</head>


<body>    
    <body style="background-color: rgb(255, 255, 255)">
    
        <div style="max-width: 1000px;margin:0 auto;background-color: rgb(255, 255, 255);">

            
            <div style="height: 200px;background-color: blueviolet;"> 
            <a><img src="static/LOGO DEMARKO.png" height="200px">
                
            </div>


            <div style="width: 205px;float: left;height: 500px;"> 
                
                
                
                <p>
                <a href="Reg_welding"><button class="button" style="vertical-align:middle"><span>Spawalnia</span></button></a></p>
                <p>
                <a href="Reg_assembly"><button class="button" style="vertical-align:middle"><span>Montaż końcowy</span></button></a></p>
                <p>
                <a href="Reg_paintshop"><button class="button" style="vertical-align:middle"><span>Lakiernia</span></button></a></p>
                <p>
                <a href="Reg_prepare"><button class="button" style="vertical-align:middle"><span>Przygotowania produkcji</span></button></a></p>
                <p>
                <a href="Strona_glowna"><button class="button button2" style="vertical-align:middle;"><span>Powrót</span></button></a></p>
            
                                  
            </div>  
            
            


            <div style="width: auto;height: 500px;"> OPISY STRONEK</div> 
        </div>
   
    
               

  


</body>
</html>
