<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pl"/>
    <meta name="Description" content="test"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Produkcja Demarko</title>    
</head>


<body>    
    <body style="background-color: rgb(255, 255, 255)">
    
        <div style="max-width: 1000px;margin:0 auto;background-color: rgb(255, 255, 255);">

            
            <div style="height: 200px;background-color: blueviolet;"> 
            <a><img src="static/LOGO DEMARKO.png" height="200px">
                
            </div>


            <div style="width: 205px;float: left;height: 500px;"> 
                
                
                
                <p>
                <a href="Rejestracja"><button class="button" style="vertical-align:middle"><span>Rejestracja czasu</span></button></a></p>
                <p>
                <a href="Wydajnosc"><button class="button" style="vertical-align:middle"><span>Wydajność produkcji</span></button></a></p>
                <p>
                <a href="Zgloszenia"><button class="button" style="vertical-align:middle"><span>Zgłoszenie problemów</span></button></a></p>
                <p>
                <a href="Kontakt"><button class="button" style="vertical-align:middle"><span>Kontakt</span></button></a></p>
                <p>
                <a href="Inne"><button class="button" style="vertical-align:middle"><span>Inne</span></button></a></p>
            
                                  
            </div>  
            
            


            <div style="width: auto;height: 500px;"> OPISY STRONEK</div> 


            
        </div>
   
    
               

  


</body>
</html>
